.container {
	@if $max-width-container > 0 {
		max-width: torem($max-width-container);
		box-sizing: content-box;
		margin: 0 auto;
	}

	@if $container-padding > 0 {
		padding: 0 torem(15);
	}
}

.container.min {
	max-width: torem(950);
}
