.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-columns: torem(320) 1fr torem(430);

	@media (max-width: $pc) {
		grid-template-columns: torem(220) 1fr torem(220);
	}
}

.page {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	background-color: $grey-color;

	> main {
		flex: 1 1 auto;
	}

	> * {
		min-width: 0;
	}
}
