@use 'sass:math';

@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;

	@return $result;
}

@function torem($px) {
	$result: math.div($px, 16) + rem;

	@return $result;
}

@function em($px, $current: 18) {
	$result: math.div($px, $current) + em;

	@return $result;
}

@mixin currency($sym) {
	&::after {
		content: '#{$sym}';
	}
}

@mixin grid-cards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
	display: grid;
	gap: $gap;
	grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

@mixin adaptive-value(
	$property,
	$start-size,
	$min-size,
	$width-from: $container-width,
	$width-to: $min-width,
	$keep-size: 0
) {
	@if $start-size == 0 {
		$start-size: 0;
	}

	@if $min-size == 0 {
		$min-size: 0;
	}

	$add-size: math.div($start-size - $min-size, 16);

	@if $width-from == $container-width and $max-width-container == 0 {
		$width-from: $max-width;
	}

	$width-from-media: em($width-from);
	$width-to-media: em($width-to);
	$slope: math.div(($start-size - $min-size), ($width-from - $width-to));
	$y-intersection: -$width-to * $slope + $min-size;

	@if $y-intersection == 0 {
		$y-intersection: 0;
	}

	$fly-value: #{torem($y-intersection)}' + ' #{$slope * 100}vw;
	$property-value: #{'clamp(' torem($min-size) ',' $fly-value ','
		torem($start-size) ')'};

	@if $min-size > $start-size {
		$property-value: #{'clamp('
			torem($start-size)
			','
			$fly-value
			','
			torem($min-size)
			')'};
	}

	@supports (#{$property}: $property-value) {
		#{$property}: $property-value;
	}

	@supports not (#{$property}: $property-value) {
		#{$property}: calc(
			#{torem($min-size)} + #{$add-size} * (100vw - #{torem($width-to)}) / #{math.div(
					$width-from,
					16
				) - math.div($width-to, 16)}
		);
	}

	@if $width-from !=
		$container-width and
		$width-from !=
		$max-width and
		$keep-size !=
		1 and
		$keep-size !=
		2
	{
		@media (min-width: $width-from-media) {
			#{$property}: inherit;
		}
	}

	@if $width-to != $min-width and $keep-size != 1 and $keep-size != 3 {
		@media (max-width: $width-to-media) {
			#{$property}: inherit;
		}
	}
}
